{% extends "dashboard/base_dashboard.html" %}

{% block title %}Appointment Detail{% endblock %}
{% block page_class %}appointment-detail-page{% endblock %}

{% block content %}
<div class="dashboard-container appointment-detail-page">
  

  <!-- Main content -->
  <main class="dashboard-main">
    <section class="appointment-detail-section">
      <div class="detail-header">
        <h3><i class="fa-solid fa-calendar-check"></i> Appointment Details</h3>
        {% if role == "doctor" %}
        <div class="detail-actions">
          <a href="#" class="btn-detail update">Update</a>
          <a href="#" class="btn-detail delete">Delete</a>
        </div>
        {% endif %}
      </div>
      {% if role == "doctor" %}
  {% if not appointment.report and appointment.status != "cancelled" %}
    <a href="{% url 'create_report' appointment.id %}" class="btn-generate-report">
      <i class="fa-solid fa-file-medical"></i> Generate Report
    </a>
  {% elif appointment.report %}
    <a href="{% url 'report_detail' appointment.report.id %}" class="btn-view-report">
      <i class="fa-solid fa-eye"></i> View Report
    </a>
  {% endif %}
{% endif %}


      <div class="appointment-info-card">
  <p><strong>ID:</strong> 
    {% if session_role == "doctor" %}
      {{ appointment.patient.patient_id }}
      
    {% elif session_role == "patient" %}
      {{ appointment.doctor.doctor_id}}
    {% else %}
      Patient: {{ appointment.patient.patient_id }} / Doctor: {{ appointment.doctor.doctor_id }}
    {% endif %}
  </p>

  <p><strong>Patient:</strong> {{ appointment.patient.name }}</p>
  <p><strong>Phone:</strong> {{ appointment.patient.phone }}</p>
  <p><strong>Date:</strong> {{ appointment.date|date:"Y-m-d H:i" }}</p>
  <p><strong>Doctor:</strong> 
    {% if appointment.doctor %}
      Dr. {{ appointment.doctor.name }}
    {% else %}
      N/A
    {% endif %}
  </p>
  <p><strong>Status:</strong> 
    <span class="status {{ appointment.status|lower }}">{{ appointment.status }}</span>
  </p>
  {% if appointment.report %}
  <p><strong>Doctor's Notes:</strong> {{ appointment.report.notes|default:"—" }}</p>
{% endif %}

</div>

    </section>
    

  </main>

</div>
{% endblock %}
