{% extends "dashboard/base_dashboard.html" %}

{% block title %}Report Detail{% endblock %}
{% block page_class %}report-detail-page{% endblock %}

{% block content %}
<div class="dashboard-container report-detail-page">


  <!-- Main Content -->
  <main class="dashboard-main">
    <section class="report-detail-section">
      <div class="detail-header">
        <h3><i class="fa-solid fa-file-alt"></i> Report Details</h3>
        {% if role == "doctor" %}
        <div class="detail-actions">
          <a href="#" class="btn-detail update">Update</a>
          <a href="#" class="btn-detail delete">Delete</a>
        </div>
        {% endif %}
      </div>

      <div class="report-info-card">
        <p><strong>Name:</strong> {{ report.patient.name }}</p>
        <p><strong>ID:</strong> {% if report.patient %}
        {{ report.patient.patient_id }}
      {% else %}
        {{ report.id }}
      {% endif %}</p>
        
        <p><strong>Author:</strong> {{ report.author }}</p>
        <p><strong>Date:</strong> {{ report.date|date:"Y-m-d" }}</p>
        <p><strong>Status:</strong> 
          <span class="status {{ report.status|lower }}">{{ report.status }}</span>
        </p>
        <p><strong>Title:</strong> {{ report.title }}</p>
        
         {% if report.description %}
  <div class="report-content">
    <h4>Description</h4>
    <p>{{ report.description|safe|linebreaks }}</p>
  </div>
  {% endif %}
  {% if report.notes %}
  <div class="report-content">
    <h4>Notes</h4>
    <p>{{ report.notes|safe|linebreaks }}</p>
  </div>
  {% endif %}

  <div class="report-content">
    <h4>Full Report</h4>
    <p>{{ report.content|safe|linebreaks }}</p>
  </div>
      </div>
    </section>
  </main>

</div>
{% endblock %}
